USE [Sorularim]
GO
/****** Object:  Table [dbo].[Soru1]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru1](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru2]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru2](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru3]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru3](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru4]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru4](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru5]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru5](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru6]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru6](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soru7]    Script Date: 5.11.2023 15:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru7](
	[Soru] [text] NULL,
	[a] [text] NULL,
	[b] [text] NULL,
	[c] [text] NULL,
	[d] [text] NULL,
	[dogru] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Soru1] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'"Kızıl Gezegen" genellikle hangisi için yapılan bir benzetme olur?', N'Kripton', N'Cyberton', N'Mars', N'Vulcan', N'Mars')
INSERT [dbo].[Soru1] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Atlas Dağları''nı gezmekte olan biri hangi ülkede olabilir?', N'Arjantin', N'Fas', N'Arnavutluk', N'Japonya', N'Fas')
INSERT [dbo].[Soru1] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Kimlere "karıncaezmez" denir?', N'Çok esprili kişilere', N'Çok merhametli kişilere', N'Çok gösterişli kişilere', N'Çok çalışkan kişilere', N'Çok merhametli kişiler')
GO
INSERT [dbo].[Soru2] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Bugüne kadar düzenlenen FIFA Dünya Kupası turnuvalarında en çok gol atan kimdir?', N'Pele', N'Maradona', N'Cristiano Ronaldo', N'Miroslav Klose', N'Miroslav Klose')
INSERT [dbo].[Soru2] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Osmanlı tarihinde, hangi addaki padişahların toplam hükümdarlık süresi yaklaşık yüz yılla en uzundur?', N'Mehmed', N'Selim', N'Mahmud', N'Selim', N'Mehmed')
INSERT [dbo].[Soru2] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangisi, Iron Man adlı çizgi roman kahramanını beyaz perdede canlandırmıştır?', N'Jake Gyllenhall', N'Robert Downey Jr.', N'Benedict Cumberbatch', N'Chris Hemsworth', N'Robert Downey Jr.')
GO
INSERT [dbo].[Soru3] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangisi "anlık" anlamına gelmez?', N'Entelekt', N'Spontane', N'Aktüel', N'Enstantane', N'Aktüel')
INSERT [dbo].[Soru3] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Cahit Sıtkı Tarancı''nın "Otuz Beş Yaş" adlı şiirinde geçen "Dante gibi ortasındayız ömrün" dizesinde adı geçen Dante Alighieri kaç yaşında ölmüştür?', N'35', N'56', N'70', N'96', N'56')
INSERT [dbo].[Soru3] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangisi mecazi anlamda "aşırı kalabalıklaşmak" anlamına gelir?', N'Kız vermek', N'Oğul vermek', N'Dünür gitmek', N'Yerden bitmek', N'Oğul vermek')
GO
INSERT [dbo].[Soru4] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangi köprüden geçerken, yüzyıllar öncesinden kalma bir geleneğe uygun olarak cesaretlerini kanıtlamak için köprüden nehre atlayan gençlerle karşılaşabilirsiniz?', N'Golden Gate Köprüsü', N'Malabadi Köprüsü', N'Mostar Köprüsü', N'Galata Köprüsü', N'Mostar Köprüsü')
INSERT [dbo].[Soru4] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangisi Türkiye''deki ilçelerin adlarında geçen bir hayvan adı değildir?', N'Tavşan', N'Aslan', N'Kurt', N'Geyik', N'Geyik')
INSERT [dbo].[Soru4] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'"Aşkın Olayım" adlı şarkıyı kim seslendirmektedir?', N'Simge Sağın', N'Aşkın Nur Yengi', N'Aleyna Tilki', N'Wanda Nara', N'Simge Sağın')
GO
INSERT [dbo].[Soru5] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'"Karanlık ve ıssız yerlerde, insanın gördüğünü sandığı korkunç hayalet" hangisinin sözlük tanımıdır?', N'Gulyabani', N'Karabasan', N'Vampir', N'Ebegümeci', N'Gulyabani')
INSERT [dbo].[Soru5] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Hangisi ördekgillerden, tüyleri kiremit renginde bir kuş türünün adıdır?', N'Ebleh', N'Sersem', N'Angut', N'Budala', N'Angut')
INSERT [dbo].[Soru5] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Fransa''nın en uzun kara sınırı hangi ülkeyledir?', N'Arjantin', N'Kolombiya', N'Brezilya', N'Almanya', N'Brezilya')
GO
INSERT [dbo].[Soru6] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'"İki elimi kesseler ve kalemi dişlerimle tutmak zorunda kalsam da, yine müzik bestelemeye devam edeceğim" sözünün sahibi besteci kimdir?', N'Frederic Chopin', N'Dmitri Şostakoviç', N'Sting', N'Serdar Ortaç', N'Dmitri Şostakoviç')
INSERT [dbo].[Soru6] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'Trafikte önündeki aracın sağından ilerleyerek önüne geçen bir araç sözlük tanımına göre hangisini yapmış olur?', N'Sollamak', N'Sağlamak', N'Soldan sağlamak', N'Sağdan sollamak', N'Sağlamak')
INSERT [dbo].[Soru6] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'7 kez maruz kaldığı yıldırım çarpması sonucunda vücudunda büyük yaralar ve yanıklar oluşsa da sağ kurtulmayı başararak Guinness Dünya Rekorlarına giren Roy Sullivan, 71 yaşında nasıl ölmüştür?', N'Kablo değiştirirken elektriğe çarpılarak', N'Eşiyle sorunlar yaşayıp intihar ederek', N'"Titanik" filmini izlerken kalp krizi geçirerek', N'Bozayıdan kaçarken uçurumdan atlayarak', N'Eşiyle sorunlar yaşayıp intihar ederek')
GO
INSERT [dbo].[Soru7] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'"Ayrılık oto ve eğrelti otu yenmez ama çörek otu, semizotu ve dereotu yenir." cümlesinde TDK''nin günümüzde geçerli olan Türkçe yazım kurallarına göre kaç tane yazım yanlışı vardır?', N'0', N'1', N'2', N'3', N'0')
INSERT [dbo].[Soru7] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'ABD Dışişleri Bakanlığının yurt dışına çıkacak ABD vatandaşları için hazırladığı "seyahat uyarıları" na göre, şu anda hangi şıktaki ülkelere gitmek diğer şıklardakilere gitmekten daha güvenli?', N'Belçika, Hollanda, İspanya', N'Almanya, Fransa, İtalya', N'Romanya, Ruanda, Vietnam', N'Birleşik Krallık, Danimarka, İsveç', N'Romanya, Ruanda, Vietnam')
INSERT [dbo].[Soru7] ([Soru], [a], [b], [c], [d], [dogru]) VALUES (N'1959''dan günümüze devam eden Süper Lig tarihinde 1968-1980 arasında hangi futbol takımı hiç şampiyon olmamıştır?', N'Beşiktaş', N'Galatasaray', N'Trabzonspor', N'Fenerbahçe', N'Beşiktaş')
GO
